  h1 {
    font-family: KeeponTruckin;
  }

  .card {
    height: 40vmin;
    pointer-events: none;
  }
  
  .rule-header {
    font-family: KeeponTruckin;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .rules {
    font-family: XanhMono;
    font-size: 15px;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .startScreen {
    background-color: #fff;
    min-height: 100vh;

    font-size: calc(10px + 2vmin);
    color: #000;
  }
  